.takeout{
  position: relative;
  top:90px;
}
.aniBox{
  width:100px;
  height:100px;
  background-color: aquamarine;
}

:global{
  .gridStyle{
    witdh:100%;
    .am-grid-text{
      color:green!important;
    }
  }
}
