.takeout{
  position: relative;
  top:90px;
}
.aniBox{
  width:100px;
  height:100px;
  background-color: aquamarine;
}

:global{
  .gridStyle{
    witdh:100%;
    .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
      width:75px!important;
      height:75px!important;
    }
    .am-grid-text{
      color:#878787!important;
      font-weight: 700!important;
    }
  }
}
